.timer{
    border-color: goldenrod;
    border-width: 3px;
    align-self: center;
    font: italic;
}
h1{
    border-color: goldenrod;
    border-width: 3px;
    align-self: center;
    font: italic;
}